{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'dist/assets/images/logos/favicon.png' %}" />
    
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'dist/assets/css/styles.css' %}" />

    <style>
        footer.bg-dark {
            position: relative;
            bottom: 0;
            width: 100%;
            z-index: 10;
        }
        .body-wrapper {
            min-height: 80vh;
            padding-bottom: 80px;
        }
        .custom-container {
            max-width: 950px;
            margin: 0 auto;
        }
        .custom-table {
            width: 100%;
        }
        .pagination {
            margin-top: 20px;
        }
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .body-wrapper {
            display: flex;
            min-height: calc(100vh - 100px); /* Adjust based on your header height */
        }
        .sidebar-nav {
            width: 260px;
            background: #fff;
            border-right: 1px solid rgba(0,0,0,0.1);
            padding: 1rem;
        }
        .sidebar-nav {
        border-right: 1px solid #e0e0e0; /* Light gray border */
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
      }
      .body-wrapper {
    display: flex;
    min-height: calc(100vh - 100px); /* Adjust based on your header height */
    padding-bottom: 0; /* Remove padding-bottom that might be causing issues */
}

.sidebar-nav {
    width: 260px;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
    background: #fff;
    border-right: 1px solid #e0e0e0;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
}

.container-fluid.custom-container {
    flex-grow: 1; /* Allow content area to grow and fill available space */
    padding: 20px;
}
    </style>

    <title>Parish Details</title>
</head>
<body>
    <section class="py-7 py-md-5 bg-light-gray">
        <div class="container-fluid">
            <div class="d-flex justify-content-between flex-md-nowrap flex-wrap">
                <h2 class="fs-15 fw-bolder mb-0">Baptism Management Dashboard</h2>
                <div class="d-flex align-items-center gap-6">
                  <a href="{% url 'baptism_dashboard' %}" class="text-muted fw-bolder link-primary fs-3 text-uppercase">Home_Page</a>
                    <iconify-icon icon="solar:alt-arrow-right-outline" class="fs-5 text-muted"></iconify-icon>
                    <a href="{% url 'logout' %}" class="text-primary link-primary fw-bolder fs-3 text-uppercase">
                      Logout
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="body-wrapper">
        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
            <ul class="sidebar-menu" id="sidebarnav">
              <!-- Dashboard Section -->
              <li class="nav-small-cap">
                <span class="hide-menu">Baptism Management</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'baptism_dashboard' %}" aria-expanded="false">
                  <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
          
              <!-- Baptism Applications -->
              <li class="nav-small-cap">
                <span class="hide-menu">Applications</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'pending_baptisms' %}">
                  <iconify-icon icon="solar:clock-circle-line-duotone"></iconify-icon>
                  <span class="hide-menu">Pending Applications</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'approved_baptisms2' %}">
                  <iconify-icon icon="solar:check-circle-line-duotone"></iconify-icon>
                  <span class="hide-menu">Approved Applications</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'rejected_baptisms' %}">
                  <iconify-icon icon="solar:close-circle-line-duotone"></iconify-icon>
                  <span class="hide-menu">Rejected Applications</span>
                </a>
              </li>
          
              <!-- Management Tools -->
              <li class="nav-small-cap">
                <span class="hide-menu">Management</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'baptism_list_and_edit' %}">
                  <iconify-icon icon="solar:pen-line-duotone"></iconify-icon>
                  <span class="hide-menu">Manage Baptisms</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'approved_baptisms' %}">
                  <iconify-icon icon="solar:file-text-line-duotone"></iconify-icon>
                  <span class="hide-menu">Certificate Generation</span>
                </a>
              </li>
          
              <!-- Parishes and Deaneries Section -->
              <li class="nav-small-cap">
                <span class="hide-menu">Church Structure</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'parish_details_list' %}">
                  <iconify-icon icon="solar:home-2-line-duotone"></iconify-icon>
                  <span class="hide-menu">Parishes</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'deanery_list' %}">
                  <iconify-icon icon="solar:map-point-line-duotone"></iconify-icon>
                  <span class="hide-menu">Deaneries</span>
                </a>
              </li>
          
         
          
              <!-- Settings -->
              <li class="nav-small-cap">
                <span class="hide-menu">Settings</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'logout' %}">
                  <iconify-icon icon="solar:logout-3-line-duotone"></iconify-icon>
                  <span class="hide-menu">Logout</span>
                </a>
              </li>
            </ul>
          </nav>

        <div class="container-fluid custom-container">
            <div class="card card-body py-3">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-4 mb-sm-0 card-title">Certificate Generation</h4>
                            <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-container">
              <form method="GET">
                  <label for="month" class="text-muted">Select Month:</label>
                  <select name="month" id="month" class="btn bg-secondary-subtle text-secondary  btn-sm dropdown-toggle" >
                      {% for month_number, month_name in months %}
                          <option value="{{ month_number }}" {% if selected_month == month_number %}selected{% endif %}>
                              {{ month_name }}
                          </option>
                      {% endfor %}
                  </select>
          
                  <label for="year" class="text-muted">Select Year:</label>
                  <select name="year" id="year" class="btn bg-secondary-subtle text-secondary  btn-sm dropdown-toggle" >
                      {% for year in years %}
                          <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>
                              {{ year }}
                          </option>
                      {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-sm btn-primary" style="text-align: center;">Filter</button>
              </form>
            </div>
            <div class="table-responsive mt-4">
                <table class="table table-hover table-success custom-table">
                    <thead class="bg-success text-white">
                        <tr>
                            <th>ID</th>
                            <th>Child Name</th>
                            <th>Place</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for baptism in page_obj %}
                        <tr>
                            <td>{{ baptism.basic_baptism_id }}</td>
                            <td>{{ baptism.child_name_first }} {{ baptism.child_name_second }}</td>
                            <td>{{ baptism.place_of_baptism_name }}</td>
                            <td>{{ baptism.date_of_baptism }}</td>
                            <td>{{ baptism.time_of_baptism }}</td>
                            <td>
                                <a class="btn waves-effect waves-light btn-primary btn-lg"
                                   href="{% url 'generate_certificate' baptism.basic_baptism_id %}">
                                   Generate Certificate
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-muted">No approved baptisms found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <footer class="bg-dark">
        <div class="container-fluid custom-container">
            <div class="d-flex justify-content-between flex-md-nowrap flex-wrap py-13 border-top border-dark-subtle">
                <div class="d-flex gap-3">
                    <img src="{% static 'dist/assets/images/logos/logo-icon-white.svg' %}" alt="logo">
                    <p class="text-white opacity-50 mb-0">All rights reserved by info@kochi.digital.</p>
                </div>
                <div>
                    <p class="text-white mb-0">
                        <span class="opacity-50">Produced by</span>
                        <a href="https://adminmart.com/" class="text-white link-primary">Department of Computer Science NASC</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Import Js Files -->
    <script src="{% static 'dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/theme/app.init.js' %}"></script>
    <script src="{% static 'dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/theme/app.init.js' %}"></script>
    <script src="{% static 'dist/assets/js/theme/theme.js' %}"></script>
    <script src="{% static 'dist/assets/js/theme/app.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/theme/sidebarmenu.js' %}"></script>
    
    <!-- Solar Icons (CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="{% static 'dist/assets/libs/fullcalendar/index.global.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/apps/calendar-init.js' %}"></script>
    <script src="{% static 'dist/assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'dist/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'dist/assets/js/dashboards/dashboard3.js' %}"></script>
</body>
</html>
