{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/png" href="{% static '/dist/assets/images/logos/favicon.png' %}" />
        
        <!-- Core CSS -->
        <link rel="stylesheet" href="{% static 'dist/assets/css/styles.css' %}" />

        <title>Parish Details</title>
    </head>
<body>
        <section class="py-7 py-md-5 bg-light-gray">
            <div class="container-fluid">
              <div class="d-flex justify-content-between flex-md-nowrap flex-wrap">
                <h2 class="fs-15 fw-bolder mb-0">
                    Baptism Management Dashboard
                </h2>
                <div class="d-flex align-items-center gap-6">
                  <a href="../main/frontend-landingpage.html" class="text-muted fw-bolder link-primary fs-3 text-uppercase">
                    Matdash
                  </a>
                  <iconify-icon icon="solar:alt-arrow-right-outline" class="fs-5 text-muted"></iconify-icon>
                  <a href="#" class="text-primary link-primary fw-bolder fs-3 text-uppercase">
                    Portfolio
                  </a>
                </div>
              </div>
            </div>
          </section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-4 pb-0" data-simplebar="">
                <div class="row flex-nowrap">
                  <!-- Unassigned Events -->
                  <div class="col">
                    <div class="card primary-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-primary flex-shrink-0 mb-3 mx-auto">
                          <iconify-icon icon="mdi:calendar-question" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Pending</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ pending_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
        
                  <!-- Total Scheduled Events -->
                 
        
                  <!-- Active Parishes -->
                  <div class="col">
                    <div class="card danger-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-danger flex-shrink-0 mb-3 mx-auto">
                          <iconify-icon icon="mdi:church" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Approved</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ approved_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
        
                  <!-- Upcoming Events -->
                  <div class="col">
                    <div class="card success-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-success flex-shrink-0 mb-3 mx-auto">
                          <iconify-icon icon="mdi:calendar-star" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Rejected</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ rejected_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
                  <br>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                <div class="button-group">
                    <a class="btn waves-effect waves-light btn-primary btn-lg" href="{% url 'baptism_list_and_edit' %}" role="button">Manage Baptisms</a>
                    <a class="btn waves-effect waves-light btn-secondary btn-lg" href="{% url 'approved_baptisms' %}" role="button">Certificate Generation</a>
                </div>
              </div>
            </div>
          </div>

</body>
</html>



