{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/png" href="{% static '/dist/assets/images/logos/favicon.png' %}" />
        
        <!-- Core CSS -->
        <link rel="stylesheet" href="{% static 'dist/assets/css/styles.css' %}" />

        
        

        <title>Parish Details</title>
    </head>
<body>
        <section class="py-7 py-md-5 bg-light-gray">
            <div class="container-fluid">
              <div class="d-flex justify-content-between flex-md-nowrap flex-wrap">
                <h2 class="fs-15 fw-bolder mb-0">
                    Baptism Management Dashboard
                </h2>
                <div class="d-flex align-items-center gap-6">
                  <a href="../main/frontend-landingpage.html" class="text-muted fw-bolder link-primary fs-3 text-uppercase">
                    Matdash
                  </a>
                  <iconify-icon icon="solar:alt-arrow-right-outline" class="fs-5 text-muted"></iconify-icon>
                  <a href="#" class="text-primary link-primary fw-bolder fs-3 text-uppercase">
                    Portfolio
                  </a>
                </div>
              </div>
            </div>
          </section>
          <div class="body-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-4 pb-0" data-simplebar="">
                <div class="row flex-nowrap">
                  <!-- Unassigned Events -->
                  <div class="col">
                    <div class="card primary-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-primary flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="solar:recive-twice-square-linear" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Pending</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ pending_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
        
                  <!-- Total Scheduled Events -->
                 
        
                  <!-- Active Parishes -->
                  <div class="col">
                    <div class="card danger-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-danger flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="solar:dollar-minimalistic-linear" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Approved</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ approved_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
        
                  <!-- Upcoming Events -->
                  <div class="col">
                    <div class="card success-gradient">
                      <div class="card-body text-center px-9 pb-4">
                        <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-success flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="ic:baseline-sync-problem" class="fs-7 text-white"></iconify-icon>
                        </div>
                        <h6 class="fw-normal fs-3 mb-1">Rejected</h6>
                        <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">{{ rejected_count }}</h4>
                        <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                      </div>
                    </div>
                  </div>
                  <br>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
          <div class="col-xl-6 mx-auto text-center">
            <div class="card">
              <div class="card-body">
                <div class="button-group">
                    <a class="btn waves-effect waves-light btn-primary btn-lg" href="{% url 'baptism_list_and_edit' %}" role="button">Manage Baptisms</a>
                    <a class="btn waves-effect waves-light btn-secondary btn-lg" href="{% url 'approved_baptisms' %}" role="button">Certificate Generation</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="bg-dark">
            <div class="container-fluid">
              <div class="d-flex justify-content-between flex-md-nowrap flex-wrap py-13 border-top border-dark-subtle">
                <div class="d-flex gap-3">
                  <img src="{% static '/dist/assets/images/logos/logo-icon-white.svg' %}"  alt="logo">
                  <p class="text-white opacity-50 mb-0">All rights reserved by info@kochi.digital. </p>
                </div>
                <div>
                  <p class="text-white mb-0">
                    <span class="opacity-50">Produced by</span>
                    <a href="https://adminmart.com/" class="text-white link-primary">Department of Computer Science NASC</a>.
                  </p>
                </div>
              </div>
            </div>
          </footer>
 <!-- Import Js Files -->
 <script src="{% static 'dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'dist/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
 <script src="{% static 'dist/assets/js/theme/app.init.js' %}"></script>
 <script src="{% static 'dist/assets/js/theme/theme.js' %}"></script>
 <script src="{% static 'dist/assets/js/theme/app.min.js' %}"></script>
 <script src="{% static 'dist/assets/js/theme/sidebarmenu.js' %}"></script>
 
 <!-- Solar Icons (CDN) -->
 <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
 <script src="{% static 'dist/assets/libs/fullcalendar/index.global.min.js' %}"></script>
 <script src="{% static 'dist/assets/js/apps/calendar-init.js' %}"></script>
 <script src="{% static 'dist/assets/js/vendor.min.js' %}"></script>
 <script src="{% static 'dist/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
 <script src="{% static 'dist/assets/js/dashboards/dashboard3.js' %}"></script>

</body>
</html>



