{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/png" href="{% static '/dist/assets/images/logos/favicon.png' %}" />
        
        <!-- Core CSS -->
        <link rel="stylesheet" href="{% static 'dist/assets/css/styles.css' %}" />
        
        <title>Parish Details</title>
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader">
            <img src="{% static '/dist/assets/images/logos/favicon.png' %}" alt="loader" class="lds-ripple img-fluid" />
        </div>
        <div id="main-wrapper">
            <!-- Sidebar Start -->
            <aside class="side-mini-panel with-vertical">
                <!-- ---------------------------------- -->
                <!-- Start Vertical Layout Sidebar -->
                <!-- ---------------------------------- -->
                <div class="iconbar">
                    <div>
                        <div class="mini-nav">
                            <ul class="mini-nav-ul" data-simplebar>
                                <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right" data-bs-title="Dashboards">
                                </a>
                            </ul>
                        </div>
                        <div class="sidebarmenu">
                            <div class="brand-logo d-flex align-items-center nav-logo">
                                
                                    <img src="{% static '/dist/assets/images/logos/logo.svg' %}" alt="Logo" />
                                </a>
                            </div>
                            <!-- ---------------------------------- -->
                            <!-- Dashboard -->
                            <!-- ---------------------------------- -->
                            <nav class="sidebar-nav" id="menu-right-mini-1" data-simplebar>
                                <ul class="sidebar-menu" id="sidebarnav">
                                    <!-- ---------------------------------- -->
                                    <!-- Home -->
                                    <!-- ---------------------------------- -->
                                    <li class="sidebar-item">
                                        
                                            <iconify-icon icon="solar:screencast-2-line-duotone"></iconify-icon>
                                            <span class="hide-menu">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        
                                            <iconify-icon icon="solar:calendar-mark-line-duotone"></iconify-icon>Calendar
                                        </a>                                        
                                    </li>
                                    <li class="sidebar-item">
                                        
                                            <iconify-icon icon="solar:airbuds-case-minimalistic-line-duotone"></iconify-icon>Events
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </aside>
            <!--  Sidebar End -->
            <div class="page-wrapper">
                <!--  Header Start -->
                <header class="topbar">
                    <div class="with-vertical">
                        <!-- ---------------------------------- -->
                        <!-- Start Vertical Layout Header -->
                        <!-- ---------------------------------- -->
                        <nav class="navbar navbar-expand-lg p-0">
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="navbar-nav flex-row mx-auto ms-lg-auto align-items-center justify-content-center">
                                        <li class="nav-item dropdown">
                                            <a href="javascript:void(0)" class="nav-link nav-icon-hover-bg rounded-circle d-flex d-lg-none align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar" aria-controls="offcanvasWithBothOptions">
                                                <iconify-icon icon="solar:sort-line-duotone" class="fs-6"></iconify-icon>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link moon dark-layout nav-icon-hover-bg rounded-circle" href="javascript:void(0)">
                                                <iconify-icon icon="solar:moon-line-duotone" class="moon fs-6"></iconify-icon>
                                            </a>
                                            <a class="nav-link sun light-layout nav-icon-hover-bg rounded-circle" href="javascript:void(0)" style="display: none">
                                                <iconify-icon icon="solar:sun-2-line-duotone" class="sun fs-6"></iconify-icon>
                                            </a>
                                        </li>
                                        <li class="nav-item d-block d-xl-none">
                                            <a class="nav-link nav-icon-hover-bg rounded-circle" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <iconify-icon icon="solar:magnifer-line-duotone" class="fs-6"></iconify-icon>
                                            </a>
                                        </li>
                                        <!-- ------------------------------- -->
                                        <!-- start notification Dropdown -->
                                        <!-- ------------------------------- -->
                                        <li class="nav-item dropdown nav-icon-hover-bg rounded-circle">
                                            <a class="nav-link position-relative" href="javascript:void(0)" id="drop2" aria-expanded="false">
                                                <iconify-icon icon="solar:bell-bing-line-duotone" class="fs-6"></iconify-icon>
                                            </a>
                                            <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                                <div class="d-flex align-items-center justify-content-between py-3 px-7">
                                                    <h5 class="mb-0 fs-5 fw-semibold">Notifications</h5>
                                                    <span class="badge text-bg-primary rounded-4 px-3 py-1 lh-sm">5 new</span>
                                                </div>
                                                <div class="message-body" data-simplebar>
                                                    <a href="javascript:void(0)" class="py-6 px-7 d-flex align-items-center dropdown-item gap-3">
                                                        <span class="flex-shrink-0 bg-danger-subtle rounded-circle round d-flex align-items-center justify-content-center fs-6 text-danger">
                                                            <iconify-icon icon="solar:widget-3-line-duotone"></iconify-icon>
                                                        </span>
                                                        <div class="w-75">
                                                            <div class="d-flex align-items-center justify-content-between">
                                                                <h6 class="mb-1 fw-semibold">Launch Admin</h6>
                                                                <span class="d-block fs-2">9:30 AM</span>
                                                            </div>
                                                            <span class="d-block text-truncate text-truncate fs-11">Just see the my new admin!</span>
                                                        </div>
                                                    </a>
                                                    <div class="py-6 px-7 mb-1">
                                                        <button class="btn btn-primary w-100">See All Notifications</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- ------------------------------- -->
                                        <!-- end notification Dropdown -->
                                        <!-- ------------------------------- -->
                                        
                                        <!-- ------------------------------- -->
                                        <!-- start language Dropdown -->
                                        <!-- ------------------------------- -->
                                        <li class="nav-item dropdown nav-icon-hover-bg rounded-circle">
                                            <a class="nav-link" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{% static '/dist/assets/images/flag/icon-flag-en.svg' %}" alt="matdash-img" width="20px" height="20px" class="rounded-circle object-fit-cover round-20" />
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                                <div class="message-body">
                                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                        <div class="position-relative">
                                                            <img src="{% static '/dist/assets/images/flag/icon-flag-en.svg' %}" alt="matdash-img" width="20px" height="20px" class="rounded-circle object-fit-cover round-20" />
                                                        </div>
                                                        <p class="mb-0 fs-3">English (UK)</p>
                                                    </a>
                                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                        <div class="position-relative">
                                                            <img src="{% static '/dist/assets/images/flag/icon-flag-fr.svg' %}" alt="matdash-img" width="20px" height="20px" class="rounded-circle object-fit-cover round-20" />
                                                        </div>
                                                        <p class="mb-0 fs-3">français (French)</p>
                                                    </a>
                                                
                                                </div>
                                            </div>
                                        </li>
                                        <!-- ------------------------------- -->
                                        <!-- end language Dropdown -->
                                        <!-- ------------------------------- -->

                                        <!-- ------------------------------- -->
                                        <!-- start profile Dropdown -->
                                        <!-- ------------------------------- -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="javascript:void(0)" id="drop1" aria-expanded="false">
                                                <div class="d-flex align-items-center gap-2 lh-base">
                                                    <img src="{% static '/dist/assets/images/profile/user-1.jpg' %}" class="rounded-circle" width="35" height="35" alt="matdash-img" />
                                                    <iconify-icon icon="solar:alt-arrow-down-bold" class="fs-2"></iconify-icon>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu profile-dropdown dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop1">
                                                <div class="position-relative px-4 pt-3 pb-2">
                                                    <div class="d-flex align-items-center mb-3 pb-3 border-bottom gap-6">
                                                        <img src="{% static '/dist/assets/images/profile/user-1.jpg' %}" class="rounded-circle" width="56" height="56" alt="matdash-img" />
                                                    <div>
                                                    <h5 class="mb-0 fs-12">David McMichael</h5>
                                                    <p class="mb-0 text-dark">david@wrappixel.com</p>
                                                    <a href="../main/authentication-login2.html" class="p-2 dropdown-item h6 rounded-1">Sign Out</a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- ------------------------------- -->
                                        <!-- end profile Dropdown -->
                                        <!-- ------------------------------- -->
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- ---------------------------------- -->
                        <!-- End Vertical Layout Header -->
                        <!-- ---------------------------------- -->
                    </div>
                </header>
                <!--  Header End -->


                <div class="body-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-4 pb-0" data-simplebar="">
                  <div class="row flex-nowrap">
                    <!-- Unassigned Events -->
                    <div class="col">
                      <div class="card primary-gradient">
                        <div class="card-body text-center px-9 pb-4">
                          <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-primary flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="mdi:calendar-question" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="fw-normal fs-3 mb-1">Unassigned Events</h6>
                          <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">3</h4>
                          <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                        </div>
                      </div>
                    </div>
          
                    <!-- Total Scheduled Events -->
                    <div class="col">
                      <div class="card warning-gradient">
                        <div class="card-body text-center px-9 pb-4">
                          <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-warning flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="mdi:calendar-check" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="fw-normal fs-3 mb-1">Total Scheduled Events</h6>
                          <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">15</h4>
                          <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                        </div>
                      </div>
                    </div>
          
                    <!-- Available Priests -->
                    <div class="col">
                      <div class="card secondary-gradient">
                        <div class="card-body text-center px-9 pb-4">
                          <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-secondary flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="mdi:account-group-outline" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="fw-normal fs-3 mb-1">Available Priests</h6>
                          <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">5</h4>
                          <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                        </div>
                      </div>
                    </div>
          
                    <!-- Active Parishes -->
                    <div class="col">
                      <div class="card danger-gradient">
                        <div class="card-body text-center px-9 pb-4">
                          <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-danger flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="mdi:church" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="fw-normal fs-3 mb-1">Active Parishes</h6>
                          <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">36</h4>
                          <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                        </div>
                      </div>
                    </div>
          
                    <!-- Upcoming Events -->
                    <div class="col">
                      <div class="card success-gradient">
                        <div class="card-body text-center px-9 pb-4">
                          <div class="d-flex align-items-center justify-content-center round-48 rounded text-bg-success flex-shrink-0 mb-3 mx-auto">
                            <iconify-icon icon="mdi:calendar-star" class="fs-7 text-white"></iconify-icon>
                          </div>
                          <h6 class="fw-normal fs-3 mb-1">Upcoming Events</h6>
                          <h4 class="mb-3 d-flex align-items-center justify-content-center gap-1">7</h4>
                          <a href="javascript:void(0)" class="btn btn-white fs-2 fw-semibold text-nowrap">View Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
            <div class="col-12">
              <div class="card mb-0">
                <div class="card-body calender-sidebar app-calendar">
                  <div id="calendar"></div>
                </div>
              </div>
              <!-- BEGIN MODAL -->
              <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="eventModalLabel">
                        Add / Edit Event
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div>
                            <label class="form-label">Event Title</label>
                            <input id="event-title" type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-12 mt-6">
                          <div>
                            <label class="form-label">Event Color</label>
                          </div>
                          <div class="d-flex">
                            <div class="n-chk">
                              <div class="form-check form-check-primary form-check-inline">
                                <input class="form-check-input" type="radio" name="event-level" value="Danger" id="modalDanger" />
                                <label class="form-check-label" for="modalDanger">Danger</label>
                              </div>
                            </div>
                            <div class="n-chk">
                              <div class="form-check form-check-warning form-check-inline">
                                <input class="form-check-input" type="radio" name="event-level" value="Success" id="modalSuccess" />
                                <label class="form-check-label" for="modalSuccess">Success</label>
                              </div>
                            </div>
                            <div class="n-chk">
                              <div class="form-check form-check-success form-check-inline">
                                <input class="form-check-input" type="radio" name="event-level" value="Primary" id="modalPrimary" />
                                <label class="form-check-label" for="modalPrimary">Primary</label>
                              </div>
                            </div>
                            <div class="n-chk">
                              <div class="form-check form-check-danger form-check-inline">
                                <input class="form-check-input" type="radio" name="event-level" value="Warning" id="modalWarning" />
                                <label class="form-check-label" for="modalWarning">Warning</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12 mt-6">
                          <div>
                            <label class="form-label">Enter Start Date</label>
                            <input id="event-start-date" type="date" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-12 mt-6">
                          <div>
                            <label class="form-label">Enter End Date</label>
                            <input id="event-end-date" type="date" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn bg-danger-subtle text-danger" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="button" class="btn btn-success btn-update-event" data-fc-event-public-id="">
                        Update changes
                      </button>
                      <button type="button" class="btn btn-primary btn-add-event">
                        Add Event
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END MODAL -->
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-danger p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="icon ti ti-settings fs-7"></i>
      </button>

      <div class="offcanvas customizer offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
          <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">
            Settings
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" data-simplebar style="height: calc(100vh - 80px)">
          <h6 class="fw-semibold fs-4 mb-2">Theme</h6>

          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <input type="radio" class="btn-check light-layout" name="theme-layout" id="light-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="light-layout">
              <i class="icon ti ti-brightness-up fs-7 me-2"></i>Light
            </label>

            <input type="radio" class="btn-check dark-layout" name="theme-layout" id="dark-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="dark-layout">
              <i class="icon ti ti-moon fs-7 me-2"></i>Dark
            </label>
          </div>

          <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Direction</h6>
          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <input type="radio" class="btn-check" name="direction-l" id="ltr-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="ltr-layout">
              <i class="icon ti ti-text-direction-ltr fs-7 me-2"></i>LTR
            </label>

            <input type="radio" class="btn-check" name="direction-l" id="rtl-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="rtl-layout">
              <i class="icon ti ti-text-direction-rtl fs-7 me-2"></i>RTL
            </label>
          </div>

          <h6 class="mt-5 fw-semibold fs-4 mb-2">Theme Colors</h6>

          <div class="d-flex flex-row flex-wrap gap-3 customizer-box color-pallete" role="group">
            <input type="radio" class="btn-check" name="color-theme-layout" id="Blue_Theme" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Blue_Theme')" for="Blue_Theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-1">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>

            <input type="radio" class="btn-check" name="color-theme-layout" id="Aqua_Theme" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Aqua_Theme')" for="Aqua_Theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-2">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>

            <input type="radio" class="btn-check" name="color-theme-layout" id="Purple_Theme" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Purple_Theme')" for="Purple_Theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-3">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>

            <input type="radio" class="btn-check" name="color-theme-layout" id="green-theme-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Green_Theme')" for="green-theme-layout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-4">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>

            <input type="radio" class="btn-check" name="color-theme-layout" id="cyan-theme-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Cyan_Theme')" for="cyan-theme-layout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-5">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>

            <input type="radio" class="btn-check" name="color-theme-layout" id="orange-theme-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2 d-flex align-items-center justify-content-center" onclick="handleColorTheme('Orange_Theme')" for="orange-theme-layout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME">
              <div class="color-box rounded-circle d-flex align-items-center justify-content-center skin-6">
                <i class="ti ti-check text-white d-flex icon fs-5"></i>
              </div>
            </label>
          </div>

          <h6 class="mt-5 fw-semibold fs-4 mb-2">Layout Type</h6>
          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <div>
              <input type="radio" class="btn-check" name="page-layout" id="vertical-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="vertical-layout">
                <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Vertical
              </label>
            </div>
            <div>
              <input type="radio" class="btn-check" name="page-layout" id="horizontal-layout" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="horizontal-layout">
                <i class="icon ti ti-layout-navbar fs-7 me-2"></i>Horizontal
              </label>
            </div>
          </div>

          <h6 class="mt-5 fw-semibold fs-4 mb-2">Container Option</h6>

          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <input type="radio" class="btn-check" name="layout" id="boxed-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="boxed-layout">
              <i class="icon ti ti-layout-distribute-vertical fs-7 me-2"></i>Boxed
            </label>

            <input type="radio" class="btn-check" name="layout" id="full-layout" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="full-layout">
              <i class="icon ti ti-layout-distribute-horizontal fs-7 me-2"></i>Full
            </label>
          </div>

          <h6 class="fw-semibold fs-4 mb-2 mt-5">Sidebar Type</h6>
          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <a href="javascript:void(0)" class="fullsidebar">
              <input type="radio" class="btn-check" name="sidebar-type" id="full-sidebar" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="full-sidebar">
                <i class="icon ti ti-layout-sidebar-right fs-7 me-2"></i>Full
              </label>
            </a>
            <div>
              <input type="radio" class="btn-check" name="sidebar-type" id="mini-sidebar" autocomplete="off" />
              <label class="btn p-9 btn-outline-primary rounded-2" for="mini-sidebar">
                <i class="icon ti ti-layout-sidebar fs-7 me-2"></i>Collapse
              </label>
            </div>
          </div>

          <h6 class="mt-5 fw-semibold fs-4 mb-2">Card With</h6>

          <div class="d-flex flex-row gap-3 customizer-box" role="group">
            <input type="radio" class="btn-check" name="card-layout" id="card-with-border" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="card-with-border">
              <i class="icon ti ti-border-outer fs-7 me-2"></i>Border
            </label>

            <input type="radio" class="btn-check" name="card-layout" id="card-without-border" autocomplete="off" />
            <label class="btn p-9 btn-outline-primary rounded-2" for="card-without-border">
              <i class="icon ti ti-border-none fs-7 me-2"></i>Shadow
            </label>
          </div>
        </div>
      </div>

      <script>
  function handleColorTheme(e) {
    document.documentElement.setAttribute("data-color-theme", e);
  }
</script>
    </div>

    <!--  Search Bar -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-bottom">
            <input type="search" class="form-control" placeholder="Search here" id="search" />
            <a href="javascript:void(0)" data-bs-dismiss="modal" class="lh-1">
              <i class="ti ti-x fs-5 ms-3"></i>
            </a>
          </div>
          <div class="modal-body message-body" data-simplebar="">
            <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
            <ul class="list mb-0 py-2">
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Analytics</span>
                  <span class="fs-2 d-block text-body-secondary">/dashboards/dashboard1</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">eCommerce</span>
                  <span class="fs-2 d-block text-body-secondary">/dashboards/dashboard2</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">CRM</span>
                  <span class="fs-2 d-block text-body-secondary">/dashboards/dashboard3</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Contacts</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/contacts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Posts</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/blog/posts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Detail</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Shop</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/ecommerce/shop</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Modern</span>
                  <span class="fs-2 d-block text-body-secondary">/dashboards/dashboard1</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Dashboard</span>
                  <span class="fs-2 d-block text-body-secondary">/dashboards/dashboard2</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Contacts</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/contacts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Posts</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/blog/posts</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Detail</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                </a>
              </li>
              <li class="p-1 mb-1 bg-hover-light-black rounded px-2">
                <a href="javascript:void(0)">
                  <span class="text-dark fw-semibold d-block">Shop</span>
                  <span class="fs-2 d-block text-body-secondary">/apps/ecommerce/shop</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="dark-transparent sidebartoggler"></div>
            <!-- Import Js Files -->
            <script src="{% static 'dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'dist/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
            <script src="{% static 'dist/assets/js/theme/app.init.js' %}"></script>
            <script src="{% static 'dist/assets/js/theme/theme.js' %}"></script>
            <script src="{% static 'dist/assets/js/theme/app.min.js' %}"></script>
            <script src="{% static 'dist/assets/js/theme/sidebarmenu.js' %}"></script>
            
            <!-- Solar Icons (CDN) -->
            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
            <script src="{% static 'dist/assets/libs/fullcalendar/index.global.min.js' %}"></script>
            <script src="{% static 'dist/assets/js/apps/calendar-init.js' %}"></script>
            <script src="{% static 'dist/assets/js/vendor.min.js' %}"></script>
            <script src="{% static 'dist/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
            <script src="{% static 'dist/assets/js/dashboards/dashboard3.js' %}"></script>

</body>

</html>