{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<body class="bg-light">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-bg-primary">
                <h4 class="mb-0 text-white">Baptism Registration Form</h4>
            </div>
            <form method="post" class="needs-validation p-4" novalidate>
                {% csrf_token %}
                
                <!-- Place and Time Details -->
                <div class="card-body">
                    <h4 class="card-title">Place and Time Details</h4>
                    <div class="row pt-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="place_of_baptism" class="form-label">Place of Baptism</label>
                                <select id="place_of_baptism" name="place_of_baptism" class="form-select" required>
                                    <option value="" selected disabled>Choose...</option>
                                    {% for place_of_baptism in parishes %}
                                        <option value="{{ place_of_baptism.parish_id  }}">{{ place_of_baptism.name_of_parish }}</option>
                                    {% endfor %}
                                </select>
                                <small class="form-control-feedback">Select your preferred place/parish</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="date_of_baptism" class="form-label">Date of Baptism</label>
                                <input type="date" id="date_of_baptism" name="date_of_baptism" class="form-control" required>
                                <small class="form-control-feedback">Select your preferred date</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="time_of_baptism" class="form-label">Time of Baptism</label>
                                <input type="time" id="time_of_baptism" name="time_of_baptism" class="form-control" required>
                                <small class="form-control-feedback">Select your preferred time</small>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr />
                
                <!-- Personal Details -->
                <div class="card-body">
                    <h4 class="card-title">Personal Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="child_name_first" class="form-label">Child First Name</label>
                                <input type="text" id="child_name_first" name="child_name_first" class="form-control" placeholder="Enter the first name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="child_name_second" class="form-label">Child Second Name</label>
                                <input type="text" id="child_name_second" name="child_name_second" class="form-control" placeholder="Enter the second name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" id="dob" name="dob" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="mother_name" class="form-label">Mother's Name</label>
                                <input type="text" id="mother_name" name="mother_name" class="form-control" placeholder="Enter mother's name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="father_name" class="form-label">Father's Name</label>
                                <input type="text" id="father_name" name="father_name" class="form-control" placeholder="Enter father's name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="godfather_name" class="form-label">Godfather's Name</label>
                                <input type="text" id="godfather_name" name="godfather_name" class="form-control" placeholder="Enter godfather's name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="godmother_name" class="form-label">Godmother's Name</label>
                                <input type="text" id="godmother_name" name="godmother_name" class="form-control" placeholder="Enter godmother's name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="mb-3">
                            <label for="contact_no" class="form-label">Contact No</label>
                            <input type="text" id="contact_no" name="contact_no" class="form-control" placeholder="Enter contact number" required>
                            <small class="form-control-feedback">Enter a valid 10-digit contact number</small>
                            {% if form.contact_no.errors %}
                                <div class="text-danger">
                                    {{ form.contact_no.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Enter the e-mail address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="remark" class="form-label">Remark</label>
                                <input type="text" id="remark" name="remark" class="form-control" placeholder="Enter if remraks any" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Clear All</button>
                    <a href="{% url 'home_page' %}" class="btn btn-secondary">Back to Home</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        flatpickr("input[type='date']", { dateFormat: "Y-m-d" });
        flatpickr("input[type='time']", { enableTime: true, noCalendar: true, dateFormat: "H:i" });
    </script>
</body>
</html>


{% endblock %}

